<ion-content [fullscreen]="true" padding>
  <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide class="grd"> 
      <h1>slide 1</h1>
    </ion-slide>
    <ion-slide class="grd">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide class="grd">
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>


  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Tagihan Anda Bulan</ion-card-subtitle>
      <ion-card-title>Rp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bayar tagihan anda sebelum
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <ion-card class="crd">
          <ion-card-content>
            1
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-card class="crd">
          <ion-card-content>
            2
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <ion-card class="crd">
          <ion-card-content>
            3
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>
